<a href="https://colab.research.google.com/github/soyab266/test/blob/master/box_cox_yoe_jonson_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [7]:
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer , make_column_transformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_digits
from sklearn.feature_selection import SelectKBest, chi2
from matplotlib.backends.backend_agg import FigureCanvasAgg as figurecanvas
from sklearn.preprocessing import PowerTransformer
from sklearn.metrics import mean_squared_error, r2_score

In [8]:
df=pd.read_csv('Concrete.csv')

In [9]:
df.head()

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [10]:
df.shape

(1030, 9)

In [ ]:
df.isnull().sum()

In [12]:
df.describe()

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cement            1030 non-null   float64
 1   slag              1030 non-null   float64
 2   flyash            1030 non-null   float64
 3   water             1030 non-null   float64
 4   superplasticizer  1030 non-null   float64
 5   coarseaggregate   1030 non-null   float64
 6   fineaggregate     1030 non-null   float64
 7   age               1030 non-null   int64
 8   csMPa             1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [ ]:
x=df.drop(columns=['csMPa'])

In [ ]:
y=df.iloc[:,-1]

In [16]:
x_train,x_test,y_train,y_test= train_test_split(x,y ,random_state=42, test_size=0.5)

In [18]:
lr=LinearRegression()

In [19]:
lr.fit(x_train, y_train)

LinearRegression()

In [21]:
ypred=lr.predict(x_test)

In [22]:
r2_score(y_test,ypred)

0.5682875754852558

In [ ]:
y_test

In [26]:
np.mean(cross_val_score(lr,x,y,scoring='r2'))

0.4609940491662865

In [27]:
pt=PowerTransformer()

In [35]:
x_train_trans= pt.fit_transform(x_train)
x_test_trans=pt.fit_transform(x_test)

In [36]:
lr.fit(x_train_trans, y_train)

LinearRegression()

In [37]:
ypred2=lr.predict(x_test_trans)

In [38]:
r2_score(y_test, ypred2)

0.7834645134310363

In [51]:

pt=PowerTransformer(method='box-cox')
x_transform =pt.fit_transform(x+0.001)
np.mean(cross_val_score(lr,x_transform,y,scoring='r2'))

0.6686000641928252

In [56]:
pt2=PowerTransformer()

In [57]:
x_trains2=pt2.fit_transform(x_train)
x_test2=pt2.fit_transform(x_test)

In [58]:
lr.fit(x_trains2, y_train)

LinearRegression()

In [64]:
yprd3=lr.predict(x_test2)

In [65]:
r2_score(y_test,yprd3)

0.7834645134310363

In [69]:
pt=PowerTransformer()
x_trains2=pt.fit_transform(x)
np.mean(cross_val_score(lr,x_trains2,y,scoring='r2'))

0.6834625141500867