<a href="https://colab.research.google.com/github/soyab266/data-science/blob/master/random_forest_by_gridserach_cv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [126]:
import pandas as pd
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.model_selection import train_test_split
#! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [127]:
df=pd.read_csv('/content/heart.csv')

In [129]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [49]:
df['sex'].value_counts()

1    713
0    312
Name: sex, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [7]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [89]:
df1=df.head(300)

In [90]:
df1.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [91]:
df1.shape

(300, 14)

In [130]:
x=df1.iloc[:,0:-1]

In [131]:
y=df1.iloc[:,-1]

In [132]:
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size=0.20)

In [133]:
print(x_train.shape)
print(x_test.shape)

(240, 13)
(60, 13)

In [134]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()
clf.fit(x_train, y_train)
y_pred=clf.predict(x_test)
accuracy_score(y_test, y_pred)

0.95

In [135]:
from sklearn.linear_model import LogisticRegression
clf1=LogisticRegression(max_iter=50 )
clf1.fit(x_train, y_train)
y_pred=clf1.predict(x_test)
accuracy_score(y_test, y_pred)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning:

lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

0.8833333333333333

In [136]:
from sklearn.model_selection import cross_val_score
np.mean(cross_val_score(clf,x,y , scoring='accuracy', cv=10))

0.9166666666666667

In [ ]:
np.mean(cross_val_score(clf1,x,y , scoring='accuracy', cv=10))

In [138]:
from sklearn.model_selection import GridSearchCV

In [ ]:
RandomForestClassifier(  )

In [178]:
n_estimators=[20, 40,60,80 ]
max_features=[0.2,0.4,0.6]
bootstrap=[True,False],
max_samples=[0.5, 0.50, 1]
max_depth=[2,8]

In [179]:
param_grid={'n_estimators':n_estimators,'max_features':max_features, 'bootstrap':bootstrap,'max_samples':max_samples, 'max_depth':max_depth}

In [180]:
grid=GridSearchCV( estimator=RandomForestClassifier(),param_grid=param_grid,cv=2,verbose=2, n_jobs=-1 )

In [181]:
grid.fit(x_train, y_train)

Fitting 2 folds for each of 72 candidates, totalling 144 fits

GridSearchCV(cv=2, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'bootstrap': ([True, False],), 'max_depth': [2, 8],
                         'max_features': [0.2, 0.4, 0.6],
                         'max_samples': [0.5, 0.5, 1],
                         'n_estimators': [20, 40, 60, 80]},
             verbose=2)

In [182]:
grid.best_params_

{'bootstrap': [True, False],
 'max_depth': 8,
 'max_features': 0.2,
 'max_samples': 0.5,
 'n_estimators': 80}

In [183]:
clf2=RandomForestClassifier(n_estimators=80,max_depth= 8,max_features=0.2,max_samples= 0.5 )

In [184]:
clf2.fit(x_train, y_train)
y_pred1=clf2.predict(x_test)
accuracy_score(y_test, y_pred1)

0.9333333333333333