<a href="https://colab.research.google.com/github/soyab266/data-science/blob/master/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [29]:
# Write your code here
print( "Data" , "Science"  , "Mentorship" , "Program" , sep='-', end='-started-' )
print("By" "CampusX" ,sep='-')

Data-Science-Mentorship-Program-started-ByCampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [34]:
# Write your code here
c=int(input('enter the value of celcious'))
#c/5=f-32/9
f= (9*c+160)/5
print('value in faran', f)

enter the value of celcious33
value in faran 91.4

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [35]:
# Write your code here
a=input('enter first num')
b=input('enter second number')
print('first number is', b)
print('second numberis',a)

enter first num33
enter second number66
first number is 66
second numberis 33

In [36]:
a=3
b=5
temp=a
a=b
b=temp
print(a)
print(b)

5
3

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [45]:
# Write your code here
x1=int(input('first coord of x1'))
x2=int(input('second coord of x2'))
y1=int(input('first coord of y1'))
y2=int(input('second coord of y2'))

d= ((x2-x1)**2 + (y2-y1)**2) ** 0.5
print(d)

first coord of x10
second coord of x20
first coord of y12
second coord of y24
2.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [46]:
# Write your code here
p=int(input('enter the principle value'))
t=int(input('enter the time'))
r=float(input('enter the value of rate'))

int= p*t*r/100
print(int)

enter the principle value10000
enter the time2
enter the value of rate5
1000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [1]:
# Write your code here
n=int(input('enter the value of n'))
sm=0
for i in range(1,n+1):
  sm=sm + (i*i)
print(sm)

enter the value of n6
91

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [2]:
# Write your code here a+(n-1)d

a=int(input('enter first term'))
second= int(input('enter secon term'))
n=int(input('enter the value of n'))
d= second - a
nth= a + (n-1) * d

print(nth)

enter first term2
enter secon term4
enter the value of n5
10

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [10]:
# Write your code here
rn1= int(input('enter the value of rn1'))
rn2= int(input('enter the value of rn2'))
rd1= int(input('enter the value of rd1'))
rd2= int(input('enter the value of rd2'))

res_rn= rn1*rd2 + rd1*rn2
res_dn=rd1*rd2

print('{}/{}'.format(res_rn,res_dn))

enter the value of rn11
enter the value of rn22
enter the value of rd13
enter the value of rd24
10/12

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [15]:
# Write your code here
import math
h=int(input('enter the heignt of tank'))
l=int(input('enter the lenghth of tank'))
b=int(input('enter the breath of tank'))

g_h=int(input('enter the heignt of glass'))
r=int(input('enter the radious of glass'))

volume_tank= h*l*b
volume_glass= g_h*r

print(math.floor(volume_tank/volume_glass))

enter the heignt of tank4
enter the lenghth of tank5
enter the breath of tank7
enter the heignt of glass8
enter the radious of glass9
1