<a href="https://colab.research.google.com/github/soyab266/test/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
%matplotlib inline 
from sklearn.model_selection import train_test_split
!pip install scikit-learn==0.21.3
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

Collecting scikit-learn==0.21.3
  Downloading scikit_learn-0.21.3-cp37-cp37m-manylinux1_x86_64.whl (6.7 MB)
     |████████████████████████████████| 6.7 MB 5.0 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.21.3) (1.1.0)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.21.3) (1.21.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.21.3) (1.4.1)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.4 requires scikit-learn>=1.0.0, but you have scikit-learn 0.21.3 which is incompatible.
imbalanced-learn 0.8.1 requires scikit-learn>=0.24, but you have scikit-learn 0.21.3 which is incompatible.
Successfully installed scikit-learn-0.21.3

In [ ]:
path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/module_5_auto.csv'

In [ ]:
df=pd.read_csv(path)
df.head(2)

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,0,0,3,122,alfa-romero,std,two,convertible,rwd,front,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,1,1,3,122,alfa-romero,std,two,convertible,rwd,front,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1

In [ ]:

y_data=df['price']
y_data

In [ ]:
x_data=df.drop('price', axis=1)
x_data

In [ ]:
x_data

In [ ]:
from pandas.core.common import random_state
x_train,x_test,y_train,y_test= train_test_split(x_data, y_data, test_size= 0.10, random_state=1)

In [ ]:
y_train.shape

(180,)

In [ ]:
x_train

In [ ]:
x_test.shape

(21, 30)

In [ ]:
y_test.shape

(21,)

In [ ]:
print("number of test samples :", x_test.shape[0])

number of test samples : 21

In [ ]:
y_data=df['price']
y_data

In [ ]:
x_data

In [ ]:
x_train1,x_test1,y_train1,y_test1= train_test_split(x_data, y_data, test_size=0.4, random_state=0)

Use the function "train_test_split" to split up the dataset such that 40% of the data samples will be utilized for testing. Set the parameter "random_state" equal to zero. The output of the function should be the following: "x_train1" , "x_test1", "y_train1" and "y_test1".

In [ ]:
x_train1.shape

(120, 30)

In [ ]:
x_test1.shape

(81, 30)

In [ ]:
y_train1.shape

(120,)

In [ ]:
lre1=LinearRegression()
lre1.fit(x_train1[['horsepower']], y_train1)

LinearRegression()

In [ ]:
lre1.score(x_train1[['horsepower']], y_train1)

0.5754067463583004

In [ ]:
lre1.score(x_test1[['horsepower']], y_test1)

0.7139364665406973

In [ ]:
lre=LinearRegression()
lre.fit(x_train[['horsepower']],y_train)

LinearRegression()

In [ ]:
lre.score(x_train[['horsepower']],y_train)

0.6619724197515104

In [ ]:
#lre.score(x_train[['horsepower']], x_test)
lre.score(x_test[['horsepower']], y_test)

0.36358755750788263

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
cross=cross_val_score(lre,x_train[['horsepower']], y_train, cv=4)

In [ ]:
cross

array([0.67029907, 0.67895595, 0.69498384, 0.57101086])

In [ ]:
cross.mean()

0.65381242843476

In [ ]:
cross.std()

0.04861890320708136

Calculate the average R^2 using two folds, then find the average R^2 for the second fold utilizing the "horsepower" featur

In [ ]:
cross1= cross_val_score(lre1,x_train[['horsepower']], y_train, cv=2)

In [ ]:
from sklearn.model_selection import cross_val_predict

In [ ]:
pre= cross_val_predict(lre1,x_data[['horsepower']], y_data, cv=2)
#yhat = cross_val_predict(lre,x_data[['horsepower']], y_data,cv=4)

In [ ]:
pre

In [ ]:
cross1

array([0.67468567, 0.6397464 ])

In [ ]:
cross1.std()

0.01746963851286032

In [ ]:
cross1.mean()

0.6572160359783692

Let's create Multiple Linear Regression objects and train the model using 'horsepower', 'curb-weight', 'engine-size' and 'highway-mpg' as features.